//  =================
//      Imports
//  =================

@import '../../../base/base';    // Base Variables

body {
  background-color: $m-color_19;
}

/*Navbar*/

nav .navbar-brand {
  font-size: 30px;
  font-weight: 700;
  color: $m-color_4;
}

.navbar-expand .navbar-nav .nav-link {
  color: $m-color_4;
  padding: 0 17px;
}

.fq-header-wrapper {
  padding: 0 0;
  background-color: $dark;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 1000'%3E%3Cg %3E%3Ccircle fill='%23506690' cx='50' cy='0' r='50'/%3E%3Cg fill='%234c6189' %3E%3Ccircle cx='0' cy='50' r='50'/%3E%3Ccircle cx='100' cy='50' r='50'/%3E%3C/g%3E%3Ccircle fill='%23495c83' cx='50' cy='100' r='50'/%3E%3Cg fill='%2345577c' %3E%3Ccircle cx='0' cy='150' r='50'/%3E%3Ccircle cx='100' cy='150' r='50'/%3E%3C/g%3E%3Ccircle fill='%23425275' cx='50' cy='200' r='50'/%3E%3Cg fill='%233e4d6f' %3E%3Ccircle cx='0' cy='250' r='50'/%3E%3Ccircle cx='100' cy='250' r='50'/%3E%3C/g%3E%3Ccircle fill='%233b4869' cx='50' cy='300' r='50'/%3E%3Cg fill='%23374462' %3E%3Ccircle cx='0' cy='350' r='50'/%3E%3Ccircle cx='100' cy='350' r='50'/%3E%3C/g%3E%3Ccircle fill='%23333f5c' cx='50' cy='400' r='50'/%3E%3Cg fill='%23303a56' %3E%3Ccircle cx='0' cy='450' r='50'/%3E%3Ccircle cx='100' cy='450' r='50'/%3E%3C/g%3E%3Ccircle fill='%232c3650' cx='50' cy='500' r='50'/%3E%3Cg fill='%2329314a' %3E%3Ccircle cx='0' cy='550' r='50'/%3E%3Ccircle cx='100' cy='550' r='50'/%3E%3C/g%3E%3Ccircle fill='%23252d44' cx='50' cy='600' r='50'/%3E%3Cg fill='%2322293e' %3E%3Ccircle cx='0' cy='650' r='50'/%3E%3Ccircle cx='100' cy='650' r='50'/%3E%3C/g%3E%3Ccircle fill='%231e2438' cx='50' cy='700' r='50'/%3E%3Cg fill='%231b2032' %3E%3Ccircle cx='0' cy='750' r='50'/%3E%3Ccircle cx='100' cy='750' r='50'/%3E%3C/g%3E%3Ccircle fill='%23171c2d' cx='50' cy='800' r='50'/%3E%3Cg fill='%23141827' %3E%3Ccircle cx='0' cy='850' r='50'/%3E%3Ccircle cx='100' cy='850' r='50'/%3E%3C/g%3E%3Ccircle fill='%23111422' cx='50' cy='900' r='50'/%3E%3Cg fill='%230c0f1d' %3E%3Ccircle cx='0' cy='950' r='50'/%3E%3Ccircle cx='100' cy='950' r='50'/%3E%3C/g%3E%3Ccircle fill='%23060818' cx='50' cy='1000' r='50'/%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: contain;

  h1 {
    font-size: 46px;
    font-weight: 700;
    color: $m-color_4;
    margin-bottom: 8px;
  }

  p {
    color: $m-color_4;
    font-size: 14px;
    margin-bottom: 27px;
    line-height: 25px;
  }

  button {
    border-radius: 30px;
    padding: 10px 25px;
    letter-spacing: 2px;
    font-weight: 600;
    font-size: 16px;
    background: transparent;
    color: $m-color_4;

    &:focus {
      background-color: $m-color_4;
      border-color: $m-color_4;
      color: $m-color_19;
    }

    &:hover {
      background-color: transparent;
      color: $m-color_4;
      box-shadow: none;
      border-color: $m-color_4;
    }
  }

  .banner-img img {
    width: 582px;
    height: 582px;
  }
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .fq-header-wrapper {
    background-image: none;
  }
}

/*
    Common Question
*/

.faq .faq-layouting {
  .fq-comman-question-wrapper {
    padding: 52px 52px;
    -webkit-box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.2);
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    background: $m-color_10;
    margin-top: -57px;
    margin-bottom: 70px;

    h3 {
      font-size: 29px;
      font-weight: 700;
      margin-bottom: 40px;
      color: $m-color_4;
    }

    ul {
      padding: 0;

      li {
        font-size: 15px;
        font-weight: 600;
        margin-bottom: 16px;
        color: $m-color_6;

        &:hover {
          cursor: pointer;
          color: $m-color_14;
        }

        .icon-svg {
          display: inline-block;
          margin-left: 9px;
        }

        svg {
          color: $m-color_6;
          width: 19px;
          height: 19px;
          vertical-align: bottom;
        }

        &:hover svg {
          color: $m-color_14;
        }
      }
    }
  }

  .fq-tab-section {
    margin-bottom: 70px;

    h2 {
      font-size: 29px;
      font-weight: 700;
      margin-bottom: 40px;
      color: $m-color_4;
    }

    .accordion .card {
      border: none;
      margin-bottom: 26px;
      -webkit-box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.2);
      -moz-box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.2);
      box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.2);
      border-radius: 12px;
      cursor: pointer;
      background-color: $m-color_10;

      .card-header {
        padding: 0;
        border: none;
        background: none;

        > div {
          padding: 13px 21px;
          font-weight: 600;
          font-size: 16px;
          color: $m-color_14;
        }

        div {
          .faq-q-title {
            overflow: hidden;
            white-space: nowrap;
            font-size: 13px;
            color: $m-color_6;
            font-weight: 700;
          }

          svg.feather-code {
            width: 17px;
            vertical-align: middle;
            margin-left: 11px;
            color: $m-color_6;
          }
        }
      }

      &:hover .card-header div svg.feather-code {
        color: $m-color_14;
      }

      .card-header div {
        &[aria-expanded="true"] svg.feather-code {
          color: $m-color_14;
        }

        .like-faq {
          display: inline-block;
          float: left;
        }

        svg.feather-thumbs-up {
          cursor: pointer;
          vertical-align: bottom;
          margin-left: 10px;
          width: 18px;
          color: $m-color_6;
          fill: rgba(0, 23, 55, 0.08);
        }
      }

      &:hover .card-header div svg.feather-thumbs-up {
        color: $m-color_14;
        fill: rgba(27, 85, 226, 0.2392156863);
      }

      .card-header div {
        &[aria-expanded="true"] svg.feather-thumbs-up {
          color: $m-color_14;
          fill: rgba(27, 85, 226, 0.2392156863);
        }

        span.faq-like-count {
          font-size: 13px;
          font-weight: 700;
          color: $m-color_6;
          fill: rgba(0, 23, 55, 0.08);
        }
      }

      &:hover .card-header div span.faq-like-count, .card-header div[aria-expanded="true"] span.faq-like-count {
        color: $m-color_14;
        fill: rgba(27, 85, 226, 0.2392156863);
      }

      .card-body p {
        font-size: 14px;
        font-weight: 600;
        line-height: 23px;
        color: $m-color_4;
      }
    }
  }

  .fq-article-section {
    margin-bottom: 90px;

    h2 {
      font-size: 29px;
      font-weight: 700;
      margin-bottom: 40px;
      color: $m-color_4;
    }

    .card {
      border: none;
      -webkit-box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.2);
      -moz-box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.2);
      box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.2);
      background-color: $m-color_10;

      img {
        border-top-right-radius: 12px;
        border-top-left-radius: 12px;
      }

      .card-body {
        .fq-rating {
          margin-bottom: 13px;

          svg {
            width: 17px;
            color: $warning;

            &.checked {
              fill: rgba(226, 160, 63, 0.5411764706);
            }
          }
        }

        h5.card-title {
          font-weight: 700;
          font-size: 20px;
          margin-bottom: 21px;
          color: $m-color_3;
        }

        p {
          &.card-text {
            letter-spacing: 1px;
            color: $m-color_6;
          }

          &.meta-text {
            font-size: 13px;
            font-weight: 600;
            color: $m-color_14;

            svg {
              width: 18px;
              vertical-align: bottom;
            }
          }
        }
      }
    }
  }
}

/*
    Tab Section
*/

/*
    Article Section
*/

/*
    Mini Footer Wrapper
*/

#miniFooterWrapper {
  color: $white;
  font-size: 14px;
  border-top: solid 1px $m-color_10;
  padding: 14px;
  -webkit-box-shadow: 0 -6px 10px 0 rgba(0, 0, 0, 0.14), 0 -1px 18px 0 rgba(0, 0, 0, 0.12), 0 -3px 5px -1px rgba(0, 0, 0, 0.2);
  box-shadow: 0 -6px 10px 0 rgba(0, 0, 0, 0.14), 0 -1px 18px 0 rgba(0, 0, 0, 0.12), 0 -3px 5px -1px rgba(0, 0, 0, 0.2);

  p {
    color: $m-color_6;
  }

  .arrow {
    background-color: $m-color_10;
    border-radius: 50%;
    position: absolute;
    z-index: 2;
    top: -33px;
    width: 40px;
    height: 40px;
    right: 0;
    left: 0;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    cursor: pointer;

    p {
      align-self: center;
      margin-bottom: 0;
      color: $m-color_14;
      font-weight: 600;
      font-size: 15px;
      letter-spacing: 1px;
    }
  }

  .copyright a {
    color: $m-color_14;
    font-weight: 700;
    text-decoration: none;
  }
}

/*
    Media Query
*/

@media (max-width: 1199px) {
  .fq-header-wrapper .banner-img img {
    width: 340px;
    height: 363px;
    margin: 0 auto;
  }
}

@media (max-width: 767px) {
  .fq-header-wrapper {
    min-height: 640px;
  }

  .faq .faq-layouting .fq-comman-question-wrapper {
    margin-top: 32px;
  }
}

@media (max-width: 575px) {
  .fq-header-wrapper .banner-img img {
    width: 283px;
    height: 363px;
  }

  .faq .faq-layouting .fq-tab-section .accordion .card .card-header div svg.feather-code {
    display: none;
  }
}