//  =================
//      Imports
//  =================

@import '../base/base';    // Base Variables

html {
  min-height: 100%;
  direction: rtl;
}

body {
  color: #888ea8;
  height: 100%;
  font-size: 0.875rem;
  background: $body-color;
  overflow-x: hidden;
  overflow-y: auto;
  letter-spacing: 0.0312rem;
  font-family: 'Quicksand', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  color: #3b3f5c;
}

:focus {
  outline: none;
}

::-moz-selection {
  /* Code for Firefox */
  color: #1b55e2;
  background: transparent;
}

::selection {
  color: #1b55e2;
  background: transparent;
}

p {
  margin-top: 0;
  margin-bottom: 0.625rem;
  color: #515365;
}

hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border-top: 1px solid #f1f2f3;
}

strong {
  font-weight: 600;
}

code {
  color: #e7515a;
}

/*Page title*/

.navbar {
  .navbar-item .nav-item.page-heading {
    margin-right: 20px;
  }

  &.expand-header .navbar-item .nav-item.page-heading {
    margin-right: 25px;
  }
}

.main-container {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

#container.fixed-header {
  margin-top: 56px;
}

#content {
  width: 50%;
  flex-grow: 8;
  margin-top: 80px;
  margin-bottom: 0;
  margin-right: 255px;
  -webkit-transition: .3s ease all;
  transition: .3s ease all;
}

.main-container-fluid > .main-content > .container {
  float: right;
  width: 100%;
}

#content > .wrapper {
  -webkit-transition: margin ease-in-out .1s;
  -moz-transition: margin ease-in-out .1s;
  -o-transition: margin ease-in-out .1s;
  transition: margin ease-in-out .1s;
  position: relative;
}

.widget {
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
  border-radius: 6px;
  border: 1px solid #e0e6ed;
  box-shadow: 0 0 40px 0 rgba(94, 92, 154, 0.06);
}

.layout-top-spacing {
  margin-top: 20px;
}

.layout-spacing {
  padding-bottom: 40px;
}

.layout-px-spacing {
  padding: 0 20px 0 20px !important;
  min-height: calc(100vh - 140px) !important;
}

.widget.box .widget-header {
  background: #fff;
  padding: 0px 8px 0px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.row [class*="col-"] .widget .widget-header h4 {
  color: #3b3f5c;
  font-size: 17px;
  font-weight: 600;
  margin: 0;
  padding: 16px 15px;
}

.seperator-header {
  background: transparent;
  box-shadow: none;
  margin-bottom: 40px;
  border-radius: 0;

  h4 {
    color: #888ea8;
    margin-bottom: 0;
    display: inline-block;
    border: 2px dashed #888ea8;
    line-height: 1.4;
    padding: 3px 6px;
    font-size: 15px;
    font-weight: 600;
    border-radius: 4px;
    letter-spacing: 1px;
  }
}

.widget .widget-header {
  border-bottom: 0px solid #f1f2f3;

  &:before {
    display: table;
    content: "";
    line-height: 0;
  }

  &:after {
    display: table;
    content: "";
    line-height: 0;
    clear: both;
  }
}

.widget-content-area {
  padding: 20px;
  position: relative;
  background-color: #fff;
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
}

.content-area {
  max-width: 58.333333%;
  margin-right: 80px;
}


//  ===============================
//       _structure Imports 
//  ===============================

@import '_structure/_navbar';
@import '_structure/_sidebar';
@import '_structure/_footer';
@import '_structure/_media-query';