/*
    ==================
        Notification
    ==================
*/

.widget-card-four {
  padding: 25px 32px;
  background: $m-color_10;

  .w-content {
    display: flex;
    justify-content: space-between;
  }

  .w-info {
    h6 {
      font-weight: 600;
      margin-bottom: 0;
      color: $m-color_3;
      font-size: 23px;
      letter-spacing: 0;
    }

    p {
      font-weight: 600;
      margin-bottom: 0;
      color: $l-secondary;
      font-size: 16px;
    }
  }

  .w-icon {
    color: $l-secondary;
    background-color: $secondary;
    height: 45px;
    display: inline-flex;
    width: 45px;
    align-self: center;
    justify-content: center;
    border-radius: 50%;
    padding: 10px;
  }

  .progress {
    height: 8px;
    margin-bottom: 0;
    margin-top: 62px;
    margin-bottom: 0;
    height: 22px;
    padding: 4px;
    border-radius: 20px;
    box-shadow: none;
  }

  .progress-bar {
    position: relative;

    &:before {
      content: '';
      height: 7px;
      width: 7px;
      background: $m-color_10;
      position: absolute;
      left: 3px;
      border-radius: 50%;
      top: 3.4px;
    }
  }
}