/*
    ==================
        Statistics
    ==================
*/
body.minimal .widget-card-one {
    padding: 20px 0;
}
.widget-card-one {
  background: $white;
  padding: 20px 0;
  height: 100%;

  .widget-content {
    .media {
      padding-left: 15px;
      padding-right: 15px;
      margin-bottom: 19px;
      padding-bottom: 21px;
      border-bottom: 1px dashed $m-color_3;

      .w-img {
        margin-right: 9px;
        align-self: center;
      }

      img {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        border: 3px solid $m-color_3;
      }
    }

    .media-body {
      align-self: center;

      h6 {
        font-weight: 700;
        font-size: 15px;
        letter-spacing: 0;
        margin-bottom: 0;
      }

      p {
        font-size: 14px;
        letter-spacing: 1px;
        margin-bottom: 0;
        font-weight: 600;
        color: $m-color_6;
        padding: 0;
      }
    }

    p {
      font-weight: 600;
      font-size: 13px;
      margin-bottom: 61px;
      padding: 0 20px;
    }

    .w-action {
      padding: 0 20px;

      svg {
        color: $primary;
        fill: $l-primary;
      }

      span {
        vertical-align: sub;
        font-weight: 700;
        color: $m-color_10;
        letter-spacing: 1px;
      }
    }
  }
}