/*
    Infobox 2
*/

.infobox-2 {
  border: 1px solid $m-color_18;
  width: 50%;
  padding: 25px;
  border-radius: 6px;
  background: $dark;
  -webkit-box-shadow: 0px 2px 11px 0px rgba(6, 8, 24, 0.39);
  box-shadow: 0px 2px 11px 0px rgba(6, 8, 24, 0.39);
  margin-left: auto;
  margin-right: auto;

  .info-icon {
    border-radius: 50%;
    background: $m-color_6;
    display: inline-block;
    padding: 15px;
    margin-bottom: 20px;

    svg {
      width: 50px;
      height: 50px;
      stroke-width: 1px;
      color: $m-color_5;
    }
  }

  .info-heading {
    font-weight: 600;
    font-size: 19px;
    margin-bottom: 14px;
    letter-spacing: 2px;
    color: $white;
  }

  .info-text {
    font-size: 15px;
    color: $m-color_3;
    margin-bottom: 15px;
  }

  .info-link {
    color: $info;
    font-weight: 600;

    svg {
      width: 15px;
      height: 15px;
    }
  }
}